# Tempoorary Excel files
~$*.xl*

# NPM files
node_modules/*

# QGIS and CSV backup files
*.qgs~
*.csv~

# Libre Office back up files
.~lock*

# OSX files
.DS_Store
.DS_STORE

# These .gitignore files!
# .gitignore
