# Tempoorary Excel files
~$*.xl*

# NPM files
node_modules/*

# Uploaded files
uploads/*

# OSX files
.DS_Store
.DS_STORE

# Debug logs
npm-debug.log.*

# Not ignored, remove the # below to ignore as well. These .gitignore files!
# .gitignore
