extends layout 

body
   block content
      div#wrapper
         h1(align='center')=subtitle
         footer(align='center')
            a(href='/uploads')
               img#scrollDown(src='images/arrowhead-down-256.png' alt='Scroll down')
