<!doctype html>

<html>
<head>
<title>Load spreadsheet</title>
<meta></meta>
</head>
<body>

   <h1>HEA Analysis Spreadsheet loader</h1>

   <form action="/api/loadsheets" method="post" enctype="multipart/form-data" target="_top">

      <fieldset>

      <label for="btnChooseFile">Browse for the folder or spreadsheet file you want:</label>
      <input type="file" id="btnChooseFile" multiple accept=".xls,.xlsx,.XLS,.XLSX">

<!--      <p>Or</p>
      <label for="txtPathFile" id="lblTxtBox">Enter the path and file name of your spreadsheet:</label>
      <p><input type="text" id="txtPathFile" name="enterPath" placeholder="/enter/the/path/to/your/folder/or/file.xlsx" size="60"></p> -->

      <p><input type="submit" id="submitFile" value="Upload"></p>

      </fieldset>

   </form>

</body>
</html>
