doctype html
html
   head
      title=title
      meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
   body
      block header
         div#wrapper
            h1(align='center')=subtitle
            header(align='center')
               div#scroll
                  a(href='#assess'): img#scrollDown(src='/images/arrowhead-down-256.png' alt='Scroll down')
      block content
