extends searchLz.jade

block content
   h1= subtitle
   form#identifyLz(class='fill' method='post' action='/uploads/search' enctype='multipart/form-data')
      select#countries
         option(value='none') Select your country...
         option(value='bw') Botswana
         option(value='na') Namibia
         option(value='za') South Africa
      br
      label#labelSearchLz(for='searchLz') Which livelihood zone does this spreadsheet apply to? 
      input#searchLz(type='search' size='60' placeholder='Type the name, abbreviation or code of your livelihood zone here')
      br
      input#search(type= 'submit' value= 'Search' hidden= 'true')
   section#lzDetails(for='fileUpload' hidden=true)
   form#confirmLz(calss= 'fill' method='post' action='/uploads/confirm' enctype='multipart/form-data')
      input#lzName(type='text' size=120)
      br
      input#lzCode(type='text' size=6)
      input#lzAbbrev(type='text' size=6)
      br
      input#confirm(type= 'submit' value= 'Confirm' hidden= 'false')
