extends layout.jade

block content
   h1= subtitle
   form#fileUpload(method='post' action='/uploads/upload' enctype='multipart/form-data')
      label#labelChooseFile(for='buttonChooseFile') Browse for the folder or spreadsheet file: 
      input#buttonChooseFile(type='file' name='myFiles' accept='.xlsx,.xls' multiple)
      br
      button#submit Upload
