body {
   padding: 30px;
   line-height: 3.5;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   font-size: 14px;
}

.fill {
   line-height: 3;
   border-right: 10px;
}

.inputText {
   font-size: 14px;
   padding: 7px;
   margin-left: 5px;
   margin-right: 15px;
}

a {
  color: #00B7FF;
}
